<div class='back-button text-center'>
  <a href="javascript:history.go(-1)" class='btn btn-default back-btn'>
    <p>BACK</p>
    <div class="back-arrow">
      <span></span>
      <span></span>
    </div>
  </a>
</div>