<% include partials/header1.ejs %>

  <div class='row home'>
    <h1 class='text-center'>MovieCouch</h1>
    <h4 class='text-center'>Where are you sitting tonight?</h4>
  </div>
  <div class='row text-center'>
    <form action="/movies" method="get" role="form" class='text-center'>
      <div class="form-group">
        <input type="text" name='q' class="form-control home-input" id="" placeholder="Search for a movie" autofocus>
      </div>
      <button type="submit" class="btn btn-primary home-btn">Submit</button>
      <a href='/favorites/index' class='btn btn-success couch-list-home'>Couch List</a>
    </form>

  </div>



<% include partials/footer.ejs %>

