.cover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mobile-show {
  display: none;
}
@media handheld, only screen and (max-width: 767px) {
  .mobile-show {
    display: block;
  }
}
.mobile-hide {
  display: block;
}
@media handheld, only screen and (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
}
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.container {
  width: 80%;
  font-family: 'Libre Baskerville', serif;
}
#sofa {
  width: 70px;
  height: 60px;
  position: relative;
  bottom: 28px;
}
hr {
  width: 80%;
}
.site-nav {
  margin: auto;
}
.home-page {
  font-family: 'Libre Baskerville', serif;
  background-image: url('http://www.trbimg.com/img-538f92c1/turbine/redeye-tv-binge-watching-time-sleep-killer-201-001/750/750x422');
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
  background-size: 100% 100%;
  min-height: 820px;
}
h1 {
  font-family: 'Vidaloka', serif;
  font-size: 60px;
  margin-top: 4em;
}
h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
.home-input {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}
.home-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.couch-list-home {
  color: white;
}
.couch-list-home:hover {
  text-decoration: none;
}
/*Search Results Page*/
.search-results {
  font-family: 'Vidaloka', serif;
  font-size: 4em;
}
.search-list {
  width: 80%;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.small-year {
  color: gray;
}
.movie-title {
  margin-top: 25px;
}
.movie-display {
  margin-top: 25px;
  width: 80%;
  margin: auto;
}
.poster,
.details {
  -webkit-box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75);
}
p {
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-family: 'Pontano Sans', sans-serif;
}
#last-p {
  padding-top: 5px;
}
.key {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}
.tomato {
  color: tomato;
}
#tomato-image {
  width: 25px;
  height: 25px;
  float: left;
}
.back-btn {
  font-family: 'Libre Baskerville', serif;
  color: black;
}
.back-btn:hover {
  color: black;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: white;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: none;
  vertical-align: middle;
  padding: 15px;
}
.thumbnail {
  width: 250px;
  height: 350px;
  -webkit-box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75);
  border: none;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 0;
  padding-left: 0;
}
.fav-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.fav-list-item {
  width: 25%;
  display: inline-block;
}
.modal-open .modal,
.btn:focus {
  outline: none !important;
}
.modal-title {
  font-family: 'Vidaloka', serif;
}
.modal-poster {
  width: 100px;
  height: 150px;
  margin-top: 1em;
  border-radius: 5%;
  -webkit-box-shadow: -14px 22px 31px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px 22px 31px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 22px 31px -13px rgba(0, 0, 0, 0.75);
}
.couch-input {
  margin-bottom: 1em;
}
.modal-footer {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
.add-comment {
  font-family: 'Libre Baskerville', serif;
}
.add-comment {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.user-comment {
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
  margin-top: 1em;
}
/* Error Page */
.error {
  margin-top: 100px;
  margin-bottom: 25px;
  font-family: 'Libre Baskerville', serif;
}

.cover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mobile-show {
  display: none;
}
@media handheld, only screen and (max-width: 767px) {
  .mobile-show {
    display: block;
  }
}
.mobile-hide {
  display: block;
}
@media handheld, only screen and (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
}
.hidetext {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.background.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url('http://www.trbimg.com/img-538f92c1/turbine/redeye-tv-binge-watching-time-sleep-killer-201-001/750/1200x600');
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
}
@media screen and (max-width: 768px) {
  .background.overlay {
    background-position: 80% 50%;
  }
}
#wrapper {
  overflow-x: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container {
  width: 100%;
}
.site-nav {
  height: 80px;
}
.header-nav {
  min-height: 80px;
}
.header-nav .items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  width: 30%;
  margin: auto;
}
#sofa {
  width: 105px;
  height: 85px;
}
.row.home {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  font-family: 'Vidaloka', serif;
}
.row.home .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ccc;
  -webkit-opacity: 0.55;
  -moz-opacity: 0.55;
  opacity: 0.55;
}
.row.home .content {
  margin-top: 30vh;
  z-index: 100;
  padding: 40px;
}
.row.home .home-search-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.row.home .home-search-form.fading .circle,
.row.home .home-search-form.fading .handle {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
}
.row.home .home-search-form .home-input {
  width: 100%;
}
@media screen and (max-width: 668px) {
  .row.home .home-search-form .home-input {
    font-size: 2em;
  }
}
.row.home .home-search-form .home-btn {
  text-indent: -10000px;
  background: transparent;
  border-color: transparent;
  position: relative;
  right: -10px;
  bottom: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
}
.row.home .home-search-form .home-btn .circle {
  width: 25px;
  height: 25px;
  border: 3px solid #000;
  border-radius: 50%;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
}
.row.home .home-search-form .home-btn .handle {
  margin: auto;
  width: 5px;
  height: 15px;
  border: 1px solid #000;
  background: #000;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
}
.row.home .home-search-form .home-btn:hover .circle {
  border-color: #666666;
}
.row.home .home-search-form .home-btn:hover .handle {
  background: #666666;
  border-color: #666666;
}
.row.home h1 {
  margin-top: 0;
}
.row.home .form-group {
  margin: 1.5em 0;
  position: relative;
}
.row.home .form-group button {
  float: right;
}
.row.home .home-input {
  border: none;
  background: transparent;
  box-shadow: none;
  border-radius: 0px;
  font-size: 3em;
  padding: 0;
  margin: auto;
  height: 70px;
  border-bottom: 1px solid #000;
}
.row.home .loading {
  width: 35%;
  position: absolute;
  right: -100px;
  top: -20px;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.row.home .loading img {
  width: 100%;
}
.row.home .loading.visible {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
@media screen and (max-width: 668px) {
  .row.home .loading {
    right: -50px;
    top: 0;
  }
}
h2.search-results {
  margin: 80px 0;
}
@media screen and (max-width: 768px) {
  h2.search-results {
    margin: 40px 0;
  }
}
.movies-container {
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-flex-pack: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.movies-container .movie {
  cursor: pointer;
  width: 225px;
  height: 325px;
  margin-bottom: 5%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.movies-container .movie img {
  width: 100%;
  height: 100%;
}
.movies-container .movie:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
@media screen and (max-width: 768px) {
  .movies-container .movie {
    width: 48%;
    height: 400px;
  }
}
@media screen and (max-width: 668px) {
  .movies-container .movie {
    width: 100%;
  }
}
.movie-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  height: 90vh;
  width: 55vh;
  margin: auto;
  margin-top: 55px;
  perspective: 1000px;
}
.movie-display {
  transform-style: preserve-3d;
  width: 55vh;
  position: relative;
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin-bottom: 10%;
}
.movie-display.flip {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.movie-display .poster {
  overflow: hidden;
  cursor: pointer;
  width: 55vh;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.movie-display .poster img {
  width: 100%;
}
.movie-display .details {
  position: absolute;
  top: 0;
  width: 55vh;
  height: 100%;
  background: #fff;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.movie-display .details .detail,
.movie-display .details .title {
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 5%;
}
.title-list-result {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.title-list-result:hover {
  color: red;
}
.back-btn {
  width: 80px;
  margin: auto;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
}
.back-btn p {
  position: relative;
  right: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.back-btn .back-arrow {
  position: relative;
  left: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.back-btn .back-arrow span {
  border: 1px solid #000;
  display: block;
  width: 20px;
  position: absolute;
}
.back-btn .back-arrow span:last-of-type {
  border: none;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  left: -1px;
  bottom: -6px;
}
.back-btn:hover p {
  position: relative;
  right: 75px;
}
.back-btn:hover .back-arrow {
  left: -28px;
}
@media screen and (max-width: 768px) {
  .back-btn {
    margin: 40px auto 60px auto;
  }
  .back-btn p {
    right: 75px;
  }
  .back-btn .back-arrow {
    left: -28px;
  }
}
