<% include ../partials/header %>

<h3 class='text-center error'>Sorry, no movie was found by that title.<br><br>Please try another search.</h3>
<div class="row">
    <p class='text-center back-button'><a href="javascript:history.go(-1)" class='btn btn-default back-btn'>Back</a></p>
  </div>

<% include ../partials/footer %>